body {
  margin: 0;
}
.wrapper{
  font-size: 3em;
  text-align: center;
  display: grid;
  grid-template-areas: "search search search search"
                       "list main main main"
}
.search{
  background-color: #3c78a5;
}
.list{
  background-color: #0d1529;
}
.main{
  background-color: #cbdcc8;
}
.wrapper > .search{
  grid-area: search;
}
.wrapper > .list{
  grid-area: list;
  color: #fffefb;
}
.wrapper > .main{
  grid-area: main;
}