body {
  margin: 0;
}
.menu__wrapper ul{
  list-style: none;

}
.wrapper{
  width: 100%;
  font-size: 1em;
  background-color: #255C95;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search__input{
  width: 70%;
  border-radius: 5px;
}